#definition-container {
  position: absolute;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr;
  top: 0;
  left: 0;
  min-width: 500px;
  max-width: 700px;
  box-sizing: border-box;
}

@media (max-width: 575px) {
  #definition-container {
    min-width: 300px;
    max-width: 100%;
  }
}

#definition-title {
  box-shadow: 3px 3px 3px #111111;
  position: static;
  padding: 10px;
  border: 2px black solid;
  transform: translate(0, 0);
  background-color: black;
  border-radius: 5px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

#definition-title button.fas {
  margin-left: 10px;
  background-color: transparent;
  padding: 0px;
  border: none;
  color: white;
  transition: all 0.2s;
}

#definition-title button.fas:hover {
  text-shadow: 1px 1px 3px white;
  opacity: 0.6;
}

#definition-title button.submit-newWord {
  border: 3px solid white;
  border-radius: 5px;
  background-color: white;
  padding: 1px 7px;
  transition: all 0.3s;
  font-size: 20px;
  font-weight: bolder;
}

#definition-title button.submit-newWord:hover {
  opacity: 0.7;
}

#definition-title input {
  border-radius: 0px;
  background-color: #303030;
  color: white;
  margin: 0px 10px 0px 0px;
  padding: 2px;
  border-radius: 2px;
}

#definition-title input:focus {
  background-color: #444444;
}

#definition-title button.x-out {
  margin-left: auto;
  border: 2px solid red;
  color: red;
  font-weight: bolder;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 1);
}

#definition-title button:hover {
  opacity: 1;
}

.definition {
  box-shadow: 3px 3px 3px #111111;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  position: static;
  padding: 0 0px;
  border: 3px black solid;
  border-radius: 5px;
  transform: translate(0, 0);
  background-color: white;
  overflow-x: hidden;
}

.definition h4 {
  box-sizing: border-box;
  padding: 10px 20px 5px 20px;
  margin: -2px;
}

.definition-body {
  box-sizing: border-box;
  padding: 0 20px;
  margin-bottom: 10px;
}

/**CSS Selectors for different APIS. Make sure all the default definition styles are above, so you can override them below*/

.whitakers {
  overflow-x: scroll;
}

.whitakers h4::after {
  content: "Notre Dame Archives";
  color: blue;
  font-size: 10px;
  margin-left: 5px;
  overflow-x: scroll;
}

.onlinelatindictionary {
  background-color: green;
  color: rgb(236, 236, 236);
}

.onlinelatindictionary h4 {
  color: #000;
}

.latdict {
  background-color: grey;
}
